.login-container{
    height:92vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:rgb(255,255,255);
    background-color: #000000;
    opacity: 0.9;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg, #0c0b0b 0, #0c0b0b 1px, #000000 0, #000000 50%);
}
h2{
    margin-bottom:1rem;
}
form{
    border-radius:1rem;
    height:25rem;
    width:25rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color:rgb(255,255,255);
}
input{
    margin:0.5rem 0;
    padding:1rem 1rem;
    width:90%;
    height:10%;
    border-radius:1rem;
    font-size:1.5rem;
    border-width: 0.2rem;
}

button{
    width:90%;
    height:10%;
    border:none;
    border-radius:1rem;
    background-color:rgb(62, 85, 233);
    color:rgb(255, 255, 255);
    transition:all 0.3s;
}
button:hover{
    background-color:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
}
.login_account{
    color:rgb(255, 255, 255);
}
a{
    color:rgb(255, 255, 255);
}
