h1,span{
    font-size:5rem;
}
.pageone{
    height:92vh;
    width:100%;
    background-color:rgb(20,19,19);
    color:rgb(255,255,255);
    display:flex;
    justify-content:center;
    align-items:center;
}
.pageone a{
    color:rgb(0, 0, 0);
    text-decoration:none;
}

.loginone{
    width:5rem;
    height:3rem;
    background-color:rgb(70, 70, 247);
    border-radius:3rem;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:all 0.5s;
}
.loginone:hover{
    background-color:rgb(255,255,255);
}
.color{
    color:rgb(55, 55, 245);
}
.fw300{
    font-weight:300;
}
.computer{
    width:20rem;
    height:25rem;
}


.pagetwo{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: rgb(255, 255, 255);
}
.astronaut{
    width:30rem;
    height:30rem;
}
h1{
    font-size:3rem;
}

.footer{
    background-color:rgb(46, 63, 178);
    border-top-left-radius:2rem;
    border-top-right-radius:2rem;
    color:rgb(255, 255, 255);
    height:30vh;
    display:flex;
    justify-content:space-around;
    align-items:center;
}
.footer a{
    text-decoration:none;
    color:rgb(255, 255, 255);
    margin-left:2rem;
}
img{
    height:2rem;
    width:2rem;
}
@media (max-width:670px){
    .span{
        font-size:2rem;
    }
    .pageone{
        flex-direction:column;
    }
    .pagetwo{
        flex-direction:column;
    }
}