nav{
    height:8vh;
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: rgb(20, 19, 19);
}
.nav_content{
    display:flex;
    justify-content:center;
    align-items:center;
}
nav a {
    text-decoration:none;
    color:white;
    margin-left:1rem;
    margin-right:1rem;
}
.login{
    display:flex;
    justify-content:center;
    align-items:center;
    color:rgb(32,32,203);
    transition:all 0.3s;
    font-size:1rem;
}
.login:hover{
    background-color:rgb(32,32,203);
    color:rgb(255, 255, 255);
    border-radius:2rem;
}
